* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
#mobile{
    display: none;
}
    
.navbar {
    background-color: #333;
    overflow: hidden;
    }
    
.scrolled{
        position: fixed;
        top: 0;
        left: 0;
        background-color: lightblue;
      }
.navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    }
    
.navbar a:hover {
    background-color: #ddd;
    color: black;
    }
    
.navbar .icon {
    display: none;
    }
    
@media screen and (max-width: 500px) {
    #mobile{
        display: inline;
    }
    .navbar a:not(:first-child) {
    display: none;
    }
    
    .navbar a.icon {
    float: right;
    display: block;
    }
    }
    
    @media screen and (max-width: 500px) {
    .navbar.responsive {
    position: relative;
    }
    
    .navbar.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
    }
    
    .navbar.responsive a {
    display: block;
    text-align: left;
    }
}