#prob {
    text-align: center;
}

#prob > span {
    width: 30%;
    display: inline-block;
}

#news-grid {
    display: flex;
    flex-wrap: wrap;
}

#news-wrapper {
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 700px){
    #center {
        width: 100%;
    }

    #prob > span {
        width: 30%;
        display: inline-flex;
    }

    #news-wrapper {
        width: 90%;
    }
}